################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/apps/angular/.angular/cache/17.0.10/angular-webpack/62f2621169068847727af4b2f90eafc37d25160e
